---
layout: default
---
<div class="container index">
    <div class="posts">
        {% for post in paginator.posts %}
        <article>
            <h1>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
            {% if post.preview-image %}
                <img src="{{ post.preview-image }}" alt="">
            {% endif %}
            {% if post.description %}
                <p>{{ post.description }}</p>
            {% else %}
                {{ post.excerpt }}
            {% endif %}
            <div class="post-date">{{ post.date | date_to_string }}</div>
            <h5>
                <a href="{{ post.url }}">Читать далее</a>
            </h5>
        </article>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">Вперед в прошлое</a>
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Назад в будущее</a>
        {% endif %}
    </div>
</div>