<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" title="Home">
                <p class="brand-caption">{{ site.name }}</p>
                <p class="brand-description">{{ site.description }}</p>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">Кто здесь?</a>
                </li>
            </ul>
        </div>
    </div>
</nav>